body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  align-self: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 12px;
  flex: 1;
}

.smy-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#wrap {
  width: 100%;
  max-width: 50%;
}

.input-label,
.input-field {
  display: block;
  text-align: left;
  color: #bdbdbd;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  box-sizing: border-box;
  background: none;
}

.input-field {
  padding: 16px 24px;
  text-align: left;
  border-radius: 6px;
  border: 1px solid #7a7a7a;
  color: #bdbdbd;
  background: none;
  flex: 1 !important;
  text-align: left !important;
}

.input-field:focus {
  color: #7a7a7a;
  border-color: #a95a84;
  outline: none;
  background: none;
}

.input-field::placeholder {
  color: #bdbdbd;
  text-align: left;
}

.submit-button {
  padding: 16px 98px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #672146;
  border-radius: 6px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #efefef;
  outline: none;
  border: none;
  margin: 12px;
}

.submit-button:hover {
  background-color: #a95b85;
  outline: none;
}

.select {
  appearance: none;
}
